@if (loading()) {
  <div class="flex justify-center mt-10">
    <span class="loading loading-spinner loading-lg"></span>
  </div>
}

<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
  @for (character of characters(); track character.id) {
    <app-character-card [character]="character"></app-character-card>
  }
</div>

<div class="flex justify-center gap-4 mt-10 mb-10">
  <button class="btn" (click)="prevPage()">Anterior</button>

  <span class="badge badge-neutral">
    Página {{ currentPage() }} / {{ totalPages() }}
  </span>

  <button class="btn" (click)="nextPage()">Siguiente</button>
</div>
